.App {
  text-align: center;
}

Select {
  max-width: 300px;
}

.square {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  margin: auto;
  display: inline-block;
}

Link {
  height: 30px;
  background-color: rgb(243, 154, 122);
}
