.App {
  text-align: center;
  font-family: "Exo", sans-serif;
}

.nav {
  height: 15vh;
  background-color: rgb(245, 174, 148);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.nav-links {
  text-align: center;
  color: white;
  font-size: 3vh;
  text-decoration: none;
  display: inline-flex;
  font-family: "Roboto Mono", monospace;
}

.page-title {
  font-size: 6vh;
  padding-top: 5vh;
}

.square {
  border: 1.5px solid #7290e2;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  vertical-align: center;
  margin: auto;
  display: inline-block;
}

.grid {
  padding: 10vw;
}

form {
  padding-top: 5vh;
}

.input {
  margin: 5px 0 5px 0;
}

.select-menus {
  margin: 1vw 5vw 7vw 5vw;
}

@media screen and (max-width: 900px) {
  .nav-links {
    font-size: 3vh;
  }
  .page-title {
    font-size: 7vw;
    padding-top: 5vh;
  }
  h2 {
    font-size: 6vw;
  }
  p {
    font-size: 5vw;
  }
  .square {
    border: 2px solid #7290e2;
    font-size: 3vw;
  }
  .grid {
    padding: 5vw;
  }

  .select-menus {
    margin-bottom: 10vw;
    height: 4vw;
  }
  .nav {
    padding-left: 12vw;
    padding-right: 12vw;
  }
  form {
    padding-top: 3vw;
  }
}

.individual-grids {
  display: inline;
}

@media screen and (min-width: 1000px) {
  .nav-links {
    font-size: 4vh;
  }

  .page-title {
    font-size: 5vw;
    padding: 3vh;
  }
  .square {
    border: 2px solid #7290e2;
    width: 6vw;
    height: 6vw;
    line-height: 6vw;
    font-size: 3vw;
  }
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .grid {
    width: 40vw;
    margin: 0 auto;
    margin-left: 15vw;
    padding: 2vw;
    padding-top: 0;
    padding-bottom: 0;
  }
  .select-menus {
    width: 20vw;
    margin-top: 100px;
    margin-right: 5vw;
    justify-content: center;
  }
  .form {
    padding-top: 2vw;
  }

  .gallery-square {
    border: 1px solid #7290e2;
    width: 2vw;
    height: 2vw;
    font-size: 1vw;
    display: inline-block;
  }

  .gallery-grids {
    display: inline-block;
    padding-bottom: 10px;
  }
}

.gallery-square {
  border: 1.5px solid #7290e2;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  vertical-align: center;
  display: inline-block;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .page-title {
    font-size: 5vw;
    padding-top: 5vh;
  }
  h2 {
    font-size: 4vw;
  }
  p {
    font-size: 3vw;
  }
  .gallery-square {
    border: 1.5px solid #7290e2;
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    vertical-align: center;
    margin: auto;
    display: inline-block;
  }
  .gallery-grids {
    display: inline-block;
    padding: 10px;
  }
}
